
# 依賴套件
node_modules/
.pnpm-store/

# 編譯輸出
dist/
dist-ssr/
*.local

# 日誌檔案
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 編輯器與作業系統設定
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript 快取
*.tsbuildinfo

# Vercel 相關
.vercel
